/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    box-sizing: border-box;
}

html {
    color: black;
    /*    background-color: whitesmoke;*/
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    text-transform: lowercase;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1.2em;
    height: 1.2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: black;
}

.svg-icon circle {
    stroke: black;
    stroke-width: 1;
}

@font-face {
    font-family: NHaas;
    src: url(../fonts/NHaas.otf);
}

@font-face {
    font-family: NHaasMed;
    src: url(../fonts/NHaasMed.otf);
}


body {
    overflow: hidden;
    /*    margin: 15px;*/
}

a {
    text-decoration: none;
    font-family: 'NHaas', sans-serif;
    font-size: 20px;
}



.text {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: auto;
    /*    height: 50px;*/
    /*    background-color:yellow;*/
    font-family: Arial;
    font-size: 3vw;
    color: yellow;
    padding-bottom: 10px;
    -webkit-text-stroke: 0.050vw black;
    pointer-events: none;

}


#logo {
    position: fixed;
    top: 45%;
    width: 20%;
    right: 5%;
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg);
    z-index: 5;
}




table {

    display: table;
    margin-left: 0.5vw;
    float: left;
    border-collapse: collapse;
    margin-bottom: 120px;
    margin-top: 15px;
    width: 65%;
    table-layout: fixed;
    text-align: left;
    /*    border-right: 1px solid black*/
}

.table {
    position: absolute;
    left: 1em;
    display: block;
    overflow-y: scroll;
    height: 100%;
    width: 100%;


    /*    padding-top: 10px;*/
}

th,
td,
tr {
    text-align: left;

    /*    border-bottom: 0.050vw solid black;*/
    vertical-align: top;
    /*    line-height: 2.1vw;*/
    padding-left: .25vw;
    padding-right: 1vw;
    padding-top: 0.3vw;
    padding-bottom: 0.5vw;
}


td {
    font-family: 'NHaas', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    display: table-cell;

}

.couponcode:hover {
    color: slategrey;
    cursor: pointer;
}

.couponcode {
    border-top: 1px solid black;
}

th {
    font-family: 'NHaasMed', sans-serif;
    color: black;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    display: table-cell;
    padding-bottom: 0;
}

.info {
    border-top: 0;
}

table tr th:nth-child(1) {
    width: 5%;
}

table tr th:nth-child(2) {
    width: 50%;
}

table tr th:nth-child(3) {
    width: 15%;
    text-align: center;
}

table tr th:nth-child(4) {
    width: 10%;
    text-align: center;
}

table tr td:nth-child(4) {
    width: 10%;
    text-align: center;
}

table tr th:nth-child(5) {
    width: 15%;
}


.info p {
    /*    vertical-align: baseline;*/
    line-height: 25px;
    font-size: 18px;
    column-count: 1;
    /*    column-gap: 5%;*/
    /*    column-fill: balance;*/

}


a {
    /*    text-decoration-line: none;*/
    /*    color: black; */
}

.directors_mobile {
    display: none;
}

.directors {
    position: absolute;
    padding-top: 10px;
    margin-right: 0.5em;
    width: 30%;
    right: 0px;
    /*    left: 25%;*/
    font-family: 'NHaas';
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: black;
    display: block;
    overflow-y: auto;
    height: 100%;

}

#italic {
    font-family: serif;
    font-weight: 700;
    font-style: normal;
}

.contact {
    /*    position: fixed;*/
    /*    float: left;*/
    font-family: 'NHaas', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5vw;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.contact_mobile {
    display: none;
}

.contact svg {
    width: 50px;
    height: auto;
    padding-left: 20px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: blue;
    /*    text-decoration: underline;*/
}

a:active {
    color: blue;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    /*    border-top: 1px solid #ccc;*/
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (max-width: 480px) {
     body {
        overflow-y: auto;
    }

    .text {
        position: fixed;
        bottom: 100%;
        width: 150%;
/*                margin-bottom: vw;*/
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
        transform-origin: 0 100%;
        font-family: Arial;
        color: black;
        font-size: 3vw;
        -webkit-text-stroke: 0;
        pointer-events: none;
        z-index: 999999;
    }

    .contact {
        display: none;
    }

    .contact_mobile {
        display: block;
        position: relative;
        top: 10px;
        float: right;

        /*        padding: 20px;*/
    }

    .contact_mobile svg {
        padding-left: 5px;
        width: 50px;

    }

    .nav {
        font-size: 15px;
    }

    th,
    td {
        font-size: 4.6vw;
        line-height: 4.2vw;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    td {}


    table {

        /*        position: fixed;*/
        /*        margin-top: 35px;*/
        /*    top: 0px;*/
        display: table;
        margin: 0;
        float: left;
        border-collapse: collapse;
        /*    padding-bottom: 100px;*/
        width: 98%;
        /*padding-top: 50px;*/

        /*        overflow: scroll;*/
    }


    .table {
        position: relative;
        display: inline-block;
        width: 98%;
        /*        left: 30px;*/
        left: 8vw;
        padding: 15px;
        float: left;
        overflow-y: auto;
        height: auto;
        /*        padding-top: 45px;*/
    }

    /*
    .info p {
        font-size: 3.5vw;
        line-height: 5vw;
        column-count: 1;
    }
*/

    .directors {
        position: relative;
        display: inline-block;
        padding-top: 20px;
        height: auto;
        right: 0px;
        left: 20px;
        float: left;
        width: 98%;
        margin: 0;
        padding: 15px;
        /*        font-size: 2.5vw;*/
        column-count: 1;
        column-fill: balance;
        padding-bottom: 30px;

    }

    #logo {
        position: relative;
        width: 35%;
        top: 0;
        /*        float: left;*/
        /*        left: 0;*/
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 5;

    }




    th:nth-child(5) {
        display: none;
    }

    tr:nth-child(5) {
        display: none;
    }

    td:nth-child(5) {
        display: none;
    }
}
@media only screen and (max-device-width: 480px) {
    body {
        overflow-y: auto;
    }

    .text {
        position: fixed;
        bottom: 100%;
        width: 150%;
/*                margin-bottom: vw;*/
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
        transform-origin: 0 100%;
        font-family: Arial;
        color: black;
        font-size: 3vw;
        -webkit-text-stroke: 0;
        pointer-events: none;
        z-index: 999999;
    }

    .contact {
        display: none;
    }

    .contact_mobile {
        display: block;
        position: relative;
        top: 10px;
        float: right;

        /*        padding: 20px;*/
    }

    .contact_mobile svg {
        padding-left: 5px;
        width: 50px;

    }

    .nav {
        font-size: 15px;
    }

    th,
    td {
        font-size: 4.6vw;
        line-height: 4.2vw;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    td {}


    table {

        /*        position: fixed;*/
        /*        margin-top: 35px;*/
        /*    top: 0px;*/
        display: table;
        margin: 0;
        float: left;
        border-collapse: collapse;
        /*    padding-bottom: 100px;*/
        width: 98%;
        /*padding-top: 50px;*/

        /*        overflow: scroll;*/
    }


    .table {
        position: relative;
        display: inline-block;
        width: 98%;
        /*        left: 30px;*/
        left: 8vw;
        padding: 15px;
        float: left;
        overflow-y: auto;
        height: auto;
        /*        padding-top: 45px;*/
    }

    /*
    .info p {
        font-size: 3.5vw;
        line-height: 5vw;
        column-count: 1;
    }
*/

    .directors {
        position: relative;
        display: inline-block;
        padding-top: 20px;
        height: auto;
        right: 0px;
        left: 20px;
        float: left;
        width: 98%;
        margin: 0;
        padding: 15px;
        /*        font-size: 2.5vw;*/
        column-count: 1;
        column-fill: balance;
        padding-bottom: 30px;

    }

    #logo {
        position: relative;
        width: 35%;
        top: 0;
        /*        float: left;*/
        /*        left: 0;*/
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 5;

    }




    th:nth-child(5) {
        display: none;
    }

    tr:nth-child(5) {
        display: none;
    }

    td:nth-child(5) {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    body {

        overflow-y: auto;
    }

    .text {
/*        position: absolute;*/
        position: fixed;
        bottom: 100%;
        width: 150%;
/*                margin-bottom: vw;*/
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
        transform-origin: 0 100%;
        font-family: Arial;
        color: black;
        font-size: 3vw;
        -webkit-text-stroke: 0;
        pointer-events: none;
        z-index: 999999;
    }

    .contact {
        display: none;
    }

    .contact_mobile {
        display: block;
        position: relative;
        top: 10px;
        float: right;

        /*        padding: 20px;*/
    }

    .contact_mobile svg {
        padding-left: 5px;
        width: 50px;

    }

    .nav {
        font-size: 15px;
    }

    th,
    td {
        font-size: 4.6vw;
        line-height: 4.2vw;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    td {}


    table {

        /*        position: fixed;*/
        /*        margin-top: 35px;*/
        /*    top: 0px;*/
        display: table;
        margin: 0;
        float: left;
        border-collapse: collapse;
        /*    padding-bottom: 100px;*/
        width: 98%;
        /*padding-top: 50px;*/

        /*        overflow: scroll;*/
    }


    .table {
        position: relative;
        display: inline-block;
        width: 91%;
        /*        left: 30px;*/
        left: 8vw;
        float: left;
        overflow-y: auto;
        height: auto;
        /*        padding-top: 45px;*/
    }

    /*
    .info p {
        font-size: 3.5vw;
        line-height: 5vw;
        column-count: 1;
    }
*/

    .directors {
        position: relative;
        display: inline-block;
        padding-top: 20px;
        height: auto;
        right: 0px;
        left: 20px;
        float: left;
        width: 98%;
        margin: 0;
        padding: 15px;
        /*        font-size: 2.5vw;*/
        column-count: 1;
        column-fill: balance;
        padding-bottom: 30px;

    }

    #logo {
        position: relative;
        width: 35%;
        top: 0;
        /*        float: left;*/
        /*        left: 0;*/
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 5;

    }




    th:nth-child(5) {
        display: none;
    }

    tr:nth-child(5) {
        display: none;
    }

    td:nth-child(5) {
        display: none;
    }
}

@media only screen and (max-device-width: 800px) {
     body {

        overflow-y: auto;
    }

    .text {
        position: fixed;
        bottom: 100%;
        width: 150%;
/*                margin-bottom: vw;*/
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
        transform-origin: 0 100%;
        font-family: Arial;
        color: black;
        font-size: 3vw;
        -webkit-text-stroke: 0;
        pointer-events: none;
        z-index: 999999;
    }

    .contact {
        display: none;
    }

    .contact_mobile {
        display: block;
        position: relative;
        top: 10px;
        float: right;

        /*        padding: 20px;*/
    }

    .contact_mobile svg {
        padding-left: 5px;
        width: 50px;

    }

    .nav {
        font-size: 15px;
    }

    th,
    td {
        font-size: 4.6vw;
        line-height: 4.2vw;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    td {}


    table {

        /*        position: fixed;*/
        /*        margin-top: 35px;*/
        /*    top: 0px;*/
        display: table;
        margin: 0;
        float: left;
        border-collapse: collapse;
        /*    padding-bottom: 100px;*/
       width: 98%;
        /*padding-top: 50px;*/

        /*        overflow: scroll;*/
    }


    
    .table {
        position: relative;
        display: inline-block;
        width: 91%;
        /*        left: 30px;*/
        left: 8vw;
        float: left;
        overflow-y: auto;
        height: auto;
        /*        padding-top: 45px;*/
    }


    /*
    .info p {
        font-size: 3.5vw;
        line-height: 5vw;
        column-count: 1;
    }
*/

    .directors {
        position: relative;
        display: inline-block;
        padding-top: 20px;
        height: auto;
        right: 0px;
        left: 20px;
        float: left;
        width: 98%;
        margin: 0;
        padding: 15px;
        /*        font-size: 2.5vw;*/
        column-count: 1;
        column-fill: balance;
        padding-bottom: 30px;

    }

    #logo {
        position: relative;
        width: 35%;
        top: 0;
        /*        float: left;*/
        /*        left: 0;*/
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 5;

    }




    th:nth-child(5) {
        display: none;
    }

    tr:nth-child(5) {
        display: none;
    }

    td:nth-child(5) {
        display: none;
    }
}

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
