/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    box-sizing: border-box;
}

html {
    background-color: whitesmoke;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    text-transform: lowercase;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
    background: transparent;
}

@font-face {
    font-family: NHaas;
    src: url(../fonts/NHaas.otf);
}

@font-face {
    font-family: NHaasMed;
    src: url(../fonts/NHaasMed.otf);
}

@font-face {
    font-family: 'Material Icons';
    src: url(../fonts/MaterialIcons.ttf);
}



body {
    overflow: hidden;
    /*    margin: 15px;*/
}

a {
    text-decoration: none;
    /*
    font-family: 'NHaas', sans-serif;
    font-size: 20px;
*/
}



.text {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
    height: auto;
    font-family: Arial;
    font-size: 3vw;
    color: yellow;
    padding-bottom: 10px;
    -webkit-text-stroke: 0.050vw black;
    pointer-events: none;

}


#logo {
    position: fixed;
    top: 32%;
    width: 15%;
    right: 5%;
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg);
    z-index: 5;
    cursor: grab;
    border-radius: 3px;
}

#logo:active {
    cursor: grabbing;
    width: 16%;
}




table {

    display: table;
    margin-left: 0.5vw;
    float: left;
    border-collapse: collapse;
    margin-bottom: 120px;
    margin-top: 15px;
    width: 65%;
    table-layout: fixed;
    text-align: left;

}

.table {
    position: absolute;
    left: 1em;
    display: block;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

th,
td,
tr {
    text-align: left;
    vertical-align: top;
    padding-left: .25vw;
    padding-right: 1vw;
    padding-top: 0.3vw;
    padding-bottom: 0.5vw;
}


td {
    font-family: 'NHaas', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    display: table-cell;
}

td:hover {
    font-size: 25.5px;
    cursor: pointer;
}

tr th {
    color: black;
    font-size: 18px !important;


}


tfoot {
    border-top: 1px solid black;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /*  font-size: 15px;  */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.couponcode:hover {
    color: #4348FC;
    /*    cursor: pointer;*/
}

.couponcode {
    border-top: 1px solid #4348FC;
    /*    color: #4348FC;*/
    color: #ff0080;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ and Edge */
    user-select: none;
    /* Standard syntax */
}

.couponcode img {
    width: 100%;
    border-radius: 2px;
}

.couponcode th {
    font-size: 15px;
}

th {
    font-family: 'NHaas', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    display: table-cell;
    padding-bottom: 0;
}

.info {
    border-top: 0;
}

table tr th:nth-child(1) {
    width: 5%;

    color: black;
}

table tr th:nth-child(2) {
    width: 50%;
}

table tr th:nth-child(3) {
    width: 10%;
    text-align: center;
    /*    padding-right: 0;*/
}

table tr td:nth-child(3) {
    /*     width: 10%;*/
    text-align: center;
    font-size: 15px;
    /*      padding-right: 10px;*/
    color: black;
}

table tr th:nth-child(4) {
    width: 15%;
    text-align: center;
}

table tr td:nth-child(4) {
    width: 15%;
    padding-right: 0;

}

table tr th:nth-child(4) {
    padding-right: 0;

}


.info p {
    /*    vertical-align: baseline;*/
    line-height: 25px;
    font-size: 18px;
    column-count: 1;
    /*    column-gap: 5%;*/
    /*    column-fill: balance;*/

}


a {
    /*    text-decoration-line: none;*/
    /*    color: black; */
}

.directors_mobile {
    display: none;
}

.directors {
    position: fixed;
    padding-top: 5px;
    margin-right: 0.5em;
    width: 30%;
    right: 0px;
    font-family: 'NHaas';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: black;
    overflow-y: auto;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.address_mobile {
    display: none;
}


.contact {
    position: fixed;
    float: left;
    font-family: 'NHaas', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5vw;
    text-align: left;
}

.contact_mobile {
    display: none;
    fill: #4348FC;
}

.directors svg {
    width: 30px;
    height: 30px;
    margin: 10px 10px 0 0;
    /*    padding-left: 20px;*/
    fill: #4348FC;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    /*    border-top: 1px solid #ccc;*/
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (max-width: 480px) {
    body {

        overflow-y: auto;
    }

    .text {
        /*        position: absolute;*/
        position: fixed;
/*        display: flex;*/
/*        top:0;*/
        bottom: 100%;
        width: 150%;
/*        margin: 0 auto;*/
        -moz-transform: rotate(270deg) translate(-65vw, -70vw);
-webkit-transform: rotate(270deg) translate(-65vw, -70vw);
-o-transform: rotate(270deg) translate(-65vw, -70vw);
-ms-transform: rotate(270deg) translate(-65vw, -70vw);
transform: rotate(270deg) translate(-65vw, -70vw);
        font-family: Arial;
        color: yellow;
        font-size: 3vw;
        -webkit-text-stroke: 0.5 solid black;
        pointer-events: none;
        z-index: 999999;
    }

    .contact {
        display: none;
    }

    .directors_mobile {
        display: block;
        /*         position: fixed;*/
        padding-top: 5px;
        /*    margin-right: 0.5em;*/
        /*    width: 30%;*/
        right: 0px;
        font-family: 'NHaas';
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        line-height: 25px;
        color: black;
        overflow-y: auto;
        height: 93%;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .address_mobile {
        display: flex;
        position: relative;
        /*        right: 0px;*/
        font-family: 'NHaas';
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        line-height: 25px;
        width: 100%;
        overflow-y: auto;
        /*    height: 93%;*/
        text-align: center;
        /*    display: flex;*/
        justify-content: center;
        align-items: center;
    }

    .address_mobile p {
        text-align: left;
    }


    .contact_mobile {
        display: block;
        position: relative;
        top: 10px;
        float: right;

        /*        padding: 20px;*/
    }

    .contact_mobile svg {
        padding-left: 5px;
        width: 50px;

    }

    .nav {
        font-size: 15px;
    }

    th,
    td {
        font-size: 4vw;
        line-height: 4.2vw;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    td:hover {
        font-size: 4vw;
    }

    .couponcode th {
        font-size: 3vw;
    }

    .couponcode {
        color: #ff0080;
    }

    tr th{
        font-size: 3vw!important;
    }

    table {

        /*        position: fixed;*/
        /*        margin-top: 35px;*/
        /*    top: 0px;*/
        display: table;
        margin: 0;
        float: left;
        border-collapse: collapse;
        /*    padding-bottom: 100px;*/
        width: 98%;
        /*padding-top: 50px;*/

        /*        overflow: scroll;*/
    }


    .table {
        position: relative;
        display: inline-block;
        width: 91%;
        /*        left: 30px;*/
        left: 8vw;
        float: left;
        overflow-y: auto;
        height: auto;
        /*        padding-top: 45px;*/
    }

    /*
    .info p {
        font-size: 3.5vw;
        line-height: 5vw;
        column-count: 1;
    }
*/

    .directors {
        position: relative;
        display: none;
        padding-top: 20px;
        height: auto;
        right: 0px;
        left: 20px;
        float: left;
        width: 95%;
        margin: 0;
        padding: 15px;
        /*        font-size: 2.5vw;*/
        column-count: 1;
        column-fill: balance;
        padding-bottom: 30px;

    }

    #logo {
        position: relative;
        width: 35%;
        top: 0;
        /*        float: left;*/
        /*        left: 0;*/
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 5;

    }
    
    #logo:active {
    width: 35%;
}


    table tr th:nth-child(2) {
        width: 40%;
    }

    table tr th:nth-child(3) {
        width: 15%;
        text-align: center;
        /*    padding-right: 0;*/
    }

    table tr td:nth-child(3) {
        /*     width: 10%;*/
        text-align: center;
        font-size: 3vw;
        /*      padding-right: 10px;*/
        color: black;
    }

    table tr td:nth-child(4) {
        width: 35%;
        padding-right: 0;
    }

    th:nth-child(5) {
        display: none;
    }

    tr:nth-child(5) {
        display: none;
    }

    td:nth-child(5) {
        display: none;
    }
}

@media only screen and (max-device-width: 480px) {
   body {

        overflow-y: auto;
    }

    .text {
        /*        position: absolute;*/
        position: fixed;
/*        display: flex;*/
/*        top:0;*/
        bottom: 100%;
        width: 150%;
/*        margin: 0 auto;*/
        -moz-transform: rotate(270deg) translate(-65vw, -70vw);
-webkit-transform: rotate(270deg) translate(-65vw, -70vw);
-o-transform: rotate(270deg) translate(-65vw, -70vw);
-ms-transform: rotate(270deg) translate(-65vw, -70vw);
transform: rotate(270deg) translate(-65vw, -70vw);
        font-family: Arial;
        color: yellow;
        font-size: 3vw;
        -webkit-text-stroke: 0.5 solid black;
        pointer-events: none;
        z-index: 999999;
    }

    .contact {
        display: none;
    }

    .directors_mobile {
        display: block;
        /*         position: fixed;*/
        padding-top: 5px;
        /*    margin-right: 0.5em;*/
        /*    width: 30%;*/
        right: 0px;
        font-family: 'NHaas';
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        line-height: 25px;
        color: black;
        overflow-y: auto;
        height: 93%;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .address_mobile {
        display: flex;
        position: relative;
        /*        right: 0px;*/
        font-family: 'NHaas';
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        line-height: 25px;
        width: 100%;
        overflow-y: auto;
        /*    height: 93%;*/
        text-align: center;
        /*    display: flex;*/
        justify-content: center;
        align-items: center;
    }

    .address_mobile p {
        text-align: left;
    }


    .contact_mobile {
        display: block;
        position: relative;
        top: 10px;
        float: right;

        /*        padding: 20px;*/
    }

    .contact_mobile svg {
        padding-left: 5px;
        width: 50px;

    }

    .nav {
        font-size: 15px;
    }

    th,
    td {
        font-size: 4vw;
        line-height: 4.2vw;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    td:hover {
        font-size: 4vw;
    }

    .couponcode th {
        font-size: 3vw;
    }

    .couponcode {
        color: #ff0080;
    }

    tr th{
        font-size: 3vw!important;
    }

    table {

        /*        position: fixed;*/
        /*        margin-top: 35px;*/
        /*    top: 0px;*/
        display: table;
        margin: 0;
        float: left;
        border-collapse: collapse;
        /*    padding-bottom: 100px;*/
        width: 98%;
        /*padding-top: 50px;*/

        /*        overflow: scroll;*/
    }


    .table {
        position: relative;
        display: inline-block;
        width: 91%;
        /*        left: 30px;*/
        left: 8vw;
        float: left;
        overflow-y: auto;
        height: auto;
        /*        padding-top: 45px;*/
    }

    /*
    .info p {
        font-size: 3.5vw;
        line-height: 5vw;
        column-count: 1;
    }
*/

    .directors {
        position: relative;
        display: none;
        padding-top: 20px;
        height: auto;
        right: 0px;
        left: 20px;
        float: left;
        width: 95%;
        margin: 0;
        padding: 15px;
        /*        font-size: 2.5vw;*/
        column-count: 1;
        column-fill: balance;
        padding-bottom: 30px;

    }

    #logo {
        position: relative;
        width: 35%;
        top: 0;
        /*        float: left;*/
        /*        left: 0;*/
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 5;

    }
    
    #logo:active {
    width: 35%;
}


    table tr th:nth-child(2) {
        width: 40%;
    }

    table tr th:nth-child(3) {
        width: 15%;
        text-align: center;
        /*    padding-right: 0;*/
    }

    table tr td:nth-child(3) {
        /*     width: 10%;*/
        text-align: center;
        font-size: 3vw;
        /*      padding-right: 10px;*/
        color: black;
    }

    table tr td:nth-child(4) {
        width: 35%;
        padding-right: 0;
    }

    th:nth-child(5) {
        display: none;
    }

    tr:nth-child(5) {
        display: none;
    }

    td:nth-child(5) {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    body {

        overflow-y: auto;
    }

    .text {
        /*        position: absolute;*/
        position: fixed;
/*        display: flex;*/
/*        top:0;*/
        bottom: 100%;
        width: 150%;
/*        margin: 0 auto;*/
        -moz-transform: rotate(270deg) translate(-65vw, -70vw);
-webkit-transform: rotate(270deg) translate(-65vw, -70vw);
-o-transform: rotate(270deg) translate(-65vw, -70vw);
-ms-transform: rotate(270deg) translate(-65vw, -70vw);
transform: rotate(270deg) translate(-65vw, -70vw);
        font-family: Arial;
        color: yellow;
        font-size: 3vw;
        -webkit-text-stroke: 0.5 solid black;
        pointer-events: none;
        z-index: 999999;
    }

    .contact {
        display: none;
    }

    .directors_mobile {
        display: block;
        /*         position: fixed;*/
        padding-top: 5px;
        /*    margin-right: 0.5em;*/
        /*    width: 30%;*/
        right: 0px;
        font-family: 'NHaas';
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        line-height: 25px;
        color: black;
        overflow-y: auto;
        height: 93%;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .address_mobile {
        display: flex;
        position: relative;
        /*        right: 0px;*/
        font-family: 'NHaas';
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        line-height: 25px;
        width: 100%;
        overflow-y: auto;
        /*    height: 93%;*/
        text-align: center;
        /*    display: flex;*/
        justify-content: center;
        align-items: center;
    }

    .address_mobile p {
        text-align: left;
    }


    .contact_mobile {
        display: block;
        position: relative;
        top: 10px;
        float: right;

        /*        padding: 20px;*/
    }

    .contact_mobile svg {
        padding-left: 5px;
        width: 50px;

    }

    .nav {
        font-size: 15px;
    }

    th,
    td {
        font-size: 4vw;
        line-height: 4.2vw;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    td:hover {
        font-size: 4vw;
    }

    .couponcode th {
        font-size: 3vw;
    }

    .couponcode {
        color: #ff0080;
    }

    tr th{
        font-size: 3vw!important;
    }

    table {

        /*        position: fixed;*/
        /*        margin-top: 35px;*/
        /*    top: 0px;*/
        display: table;
        margin: 0;
        float: left;
        border-collapse: collapse;
        /*    padding-bottom: 100px;*/
        width: 98%;
        /*padding-top: 50px;*/

        /*        overflow: scroll;*/
    }


    .table {
        position: relative;
        display: inline-block;
        width: 91%;
        /*        left: 30px;*/
        left: 8vw;
        float: left;
        overflow-y: auto;
        height: auto;
        /*        padding-top: 45px;*/
    }

    /*
    .info p {
        font-size: 3.5vw;
        line-height: 5vw;
        column-count: 1;
    }
*/

    .directors {
        position: relative;
        display: none;
        padding-top: 20px;
        height: auto;
        right: 0px;
        left: 20px;
        float: left;
        width: 95%;
        margin: 0;
        padding: 15px;
        /*        font-size: 2.5vw;*/
        column-count: 1;
        column-fill: balance;
        padding-bottom: 30px;

    }

    #logo {
        position: relative;
        width: 35%;
        top: 0;
        /*        float: left;*/
        /*        left: 0;*/
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 5;

    }
    
    #logo:active {
    width: 35%;
}


    table tr th:nth-child(2) {
        width: 40%;
    }

    table tr th:nth-child(3) {
        width: 15%;
        text-align: center;
        /*    padding-right: 0;*/
    }

    table tr td:nth-child(3) {
        /*     width: 10%;*/
        text-align: center;
        font-size: 3vw;
        /*      padding-right: 10px;*/
        color: black;
    }

    table tr td:nth-child(4) {
        width: 35%;
        padding-right: 0;
    }

    th:nth-child(5) {
        display: none;
    }

    tr:nth-child(5) {
        display: none;
    }

    td:nth-child(5) {
        display: none;
    }
}

@media only screen and (max-device-width: 800px) {
    body {

        overflow-y: auto;
    }

    .text {
        /*        position: absolute;*/
        position: fixed;
/*        display: flex;*/
/*        top:0;*/
        bottom: 100%;
        width: 150%;
/*        margin: 0 auto;*/
        -moz-transform: rotate(270deg) translate(-65vw, -70vw);
-webkit-transform: rotate(270deg) translate(-65vw, -70vw);
-o-transform: rotate(270deg) translate(-65vw, -70vw);
-ms-transform: rotate(270deg) translate(-65vw, -70vw);
transform: rotate(270deg) translate(-65vw, -70vw);
        font-family: Arial;
        color: yellow;
        font-size: 3vw;
        -webkit-text-stroke: 0.5 solid black;
        pointer-events: none;
        z-index: 999999;
    }

    .contact {
        display: none;
    }

    .directors_mobile {
        display: block;
        /*         position: fixed;*/
        padding-top: 5px;
        /*    margin-right: 0.5em;*/
        /*    width: 30%;*/
        right: 0px;
        font-family: 'NHaas';
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        line-height: 25px;
        color: black;
        overflow-y: auto;
        height: 93%;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .address_mobile {
        display: flex;
        position: relative;
        /*        right: 0px;*/
        font-family: 'NHaas';
        font-weight: 400;
        font-style: normal;
        font-size: 22px;
        line-height: 25px;
        width: 100%;
        overflow-y: auto;
        /*    height: 93%;*/
        text-align: center;
        /*    display: flex;*/
        justify-content: center;
        align-items: center;
    }

    .address_mobile p {
        text-align: left;
    }


    .contact_mobile {
        display: block;
        position: relative;
        top: 10px;
        float: right;

        /*        padding: 20px;*/
    }

    .contact_mobile svg {
        padding-left: 5px;
        width: 50px;

    }

    .nav {
        font-size: 15px;
    }

    th,
    td {
        font-size: 4vw;
        line-height: 4.2vw;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    td:hover {
        font-size: 4vw;
    }

    .couponcode th {
        font-size: 3vw;
    }

    .couponcode {
        color: #ff0080;
    }

    tr th{
        font-size: 3vw!important;
    }

    table {

        /*        position: fixed;*/
        /*        margin-top: 35px;*/
        /*    top: 0px;*/
        display: table;
        margin: 0;
        float: left;
        border-collapse: collapse;
        /*    padding-bottom: 100px;*/
        width: 98%;
        /*padding-top: 50px;*/

        /*        overflow: scroll;*/
    }


    .table {
        position: relative;
        display: inline-block;
        width: 91%;
        /*        left: 30px;*/
        left: 8vw;
        float: left;
        overflow-y: auto;
        height: auto;
        /*        padding-top: 45px;*/
    }

    /*
    .info p {
        font-size: 3.5vw;
        line-height: 5vw;
        column-count: 1;
    }
*/

    .directors {
        position: relative;
        display: none;
        padding-top: 20px;
        height: auto;
        right: 0px;
        left: 20px;
        float: left;
        width: 95%;
        margin: 0;
        padding: 15px;
        /*        font-size: 2.5vw;*/
        column-count: 1;
        column-fill: balance;
        padding-bottom: 30px;

    }

    #logo {
        position: relative;
        width: 35%;
        top: 0;
        /*        float: left;*/
        /*        left: 0;*/
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        z-index: 5;

    }
    
    #logo:active {
    width: 35%;
}


    table tr th:nth-child(2) {
        width: 40%;
    }

    table tr th:nth-child(3) {
        width: 15%;
        text-align: center;
        /*    padding-right: 0;*/
    }

    table tr td:nth-child(3) {
        /*     width: 10%;*/
        text-align: center;
        font-size: 3vw;
        /*      padding-right: 10px;*/
        color: black;
    }

    table tr td:nth-child(4) {
        width: 35%;
        padding-right: 0;
    }

    th:nth-child(5) {
        display: none;
    }

    tr:nth-child(5) {
        display: none;
    }

    td:nth-child(5) {
        display: none;
    }
}

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;

    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
